<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-HW01</title>
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    
<!-- <div class="container">
    <div class="shops_body">    
    <div class="shops">
            <h3>和風系列</h3>
            <p>日式和風瓷器不僅僅是生活的點綴，更是一種藝術的化身。無論您喜歡傳統的茶具，精緻的花瓶，還是充滿日本風情的餐具，我們的和風瓷器系列應有盡有。每一個系列都代表著不同的日本文化元素，讓您可以根據個人喜好和生活方式做出選擇。</p>
        <div class="shops_pic">
            <img src="../imgs/all shops - prod1.png" alt="全部商品照">
        </div>
            <span>
                Noritake 三入盤組<br>NT$999
            </span>
        <div class="shops_pic">
            <img src="../imgs/all shops - prod2.png" alt="全部商品照">
        </div>
            <span>
                葉型小盤<br>NT$390
            </span>
        <div class="shops_pic">
            <img src="../imgs/all shops - prod3.png" alt="全部商品照">
        </div>
            <span>
                有田燒盤<br>NT$590
            </span>
    </div>

    <div class="shops">
        <h3>洋風系列</h3>
        <p>沉浸於我們的洋風瓷器系列，探索經典與現代的完美交匯。每一件瓷器都散發著歐洲風情，結合精緻的工藝和優雅的設計，為您的生活空間帶來一絲奢華與藝術的氛圍。不論是用於日常用餐還是擺放於裝飾櫃，洋風瓷器都是經典與時尚的象徵。</p>
        <div class="shops_pic">
            <img src="../imgs/all shops - prod4.png" alt="全部商品照">
        </div>
            <span>
                Nittoroyal 大盤<br>NT$699
            </span>
        <div class="shops_pic">
            <img src="../imgs/all shops - prod6.png" alt="全部商品照">
        </div>
            <span>
                Giovanni Valentino 茶杯<br>NT$1290
            </span>
        <div class="shops_pic">
            <img src="../imgs/all shops - prod5.png" alt="全部商品照">
        </div>
            <span>
                MIKASA 深盤<br>NT$1290
            </span>
        </div>

        <div class="shops">
        <h3 >花瓶系列</h3>
        <p>迎接和風芬芳，我們的日式花瓶系列將自然之美融入每個角落。每一個花瓶都是一件獨一無二的藝術品，以傳統的陶瓷工藝展現著日本文化的深厚底蘊。這些花瓶不僅是鮮花的容器，更是將寧靜和美感注入您居家空間的完美選擇。</p>
        <div class="shops_pic">
            <img src="../imgs/all shops - prod7.png" alt="全部商品照">
        </div>
            <span>
                日式巨峰窯花瓶<br>NT$3990
            </span>
        <div class="shops_pic">
            <img src="../imgs/all shops - prod8.png" alt="全部商品照">
        </div>
            <span>
                日式薩摩燒花瓶<br>NT$3990
            </span>
        <div class="shops_pic">
            <img src="../imgs/all shops - prod9.png" alt="全部商品照">
        </div>
            <span>
                九谷燒花瓶<br>NT$2990
            </span>
        </div>
    </div>
</div> -->

<div id="shops">
    <div class="shops" v-for="listItem in list">
        <h3>{{ listItem.title }}</h3>
        <p class="selection-info">{{ listItem.description }}</p>
        <div class="shops_pic" v-for="(prodItem, index) in listItem.products">
            <img :src="prodItem.image" alt="全部商品照">
            <p class="shops-card-text">
                {{ prodItem.name }}
                <br>
                {{ prodItem.price }}
            </p>
        </div>
    </div>
</div>

<!-- <script src="https://unpkg.com/vue@next"></script> -->
<script src="https://unpkg.com/vue@3.4.5/dist/vue.global.js"></script>
<script>
    Vue.createApp({
    data() {
        return {
        list: [
        {
            title: "和風系列",
            description: "日式和風瓷器不僅僅是生活的點綴，更是一種藝術的化身。無論您喜歡傳統的茶具，精緻的花瓶，還是充滿日本風情的餐具，我們的和風瓷器系列應有盡有。每一個系列都代表著不同的日本文化元素，讓您可以根據個人喜好和生活方式做出選擇。",
            products: [
                { name: "Noritake 三入盤組", price: "NT$999", image: "./imgs/all shops - prod1.png", alt: "全部商品照" },
                { name: "葉型小盤", price: "NT$390", image: "./imgs/all shops - prod2.png", alt: "全部商品照" },
                { name: "有田燒盤", price: "NT$590", image: "./imgs/all shops - prod3.png", alt: "全部商品照" },
            ],
        },
        {
            title: "洋風系列",
            description: "沉浸於我們的洋風瓷器系列，探索經典與現代的完美交匯。每一件瓷器都散發著歐洲風情，結合精緻的工藝和優雅的設計，為您的生活空間帶來一絲奢華與藝術的氛圍。不論是用於日常用餐還是擺放於裝飾櫃，洋風瓷器都是經典與時尚的象徵。",
            products: [
                { name: "Nittoroyal 大盤", price: "NT$699", image: "./imgs/all shops - prod4.png", alt: "全部商品照" },
                { name: "Giovanni Valentino 茶杯", price: "NT$1290", image: "./imgs/all shops - prod6.png", alt: "全部商品照" },
                { name: "MIKASA 深盤", price: "NT$1290", image: "./imgs/all shops - prod5.png", alt: "全部商品照" },
            ],
        },
        {
            title: "花瓶系列",
            description: "迎接和風芬芳，我們的日式花瓶系列將自然之美融入每個角落。每一個花瓶都是一件獨一無二的藝術品，以傳統的陶瓷工藝展現著日本文化的深厚底蘊。這些花瓶不僅是鮮花的容器，更是將寧靜和美感注入您居家空間的完美選擇。",
            products: [
                { name: "日式巨峰窯花瓶", price: "NT$3990", image: "./imgs/all shops - prod7.png", alt: "全部商品照" },
                { name: "日式薩摩燒花瓶", price: "NT$3990", image: "./imgs/all shops - prod8.png", alt: "全部商品照" },
                { name: "九谷燒花瓶", price: "NT$2990", image: "./imgs/all shops - prod9.png", alt: "全部商品照" },
            ],
        },
        ],
    };
},
}).mount("#shops");
</script>

</body>
</html>